<div>
    <div>
        <p></p>
        <table class="layout">
            <tbody>
                <tr class="layout">
                    <td class="layout" style="margin:0;padding:0" valign="top">
                        <h1>{{ .Params.title }}</h1>
                    </td>
                    <td class="layout" rowspan="2">

                    </td>
                </tr>
                <tr class="layout" style="margin:0;padding:0">
                    <td class="layout" valign="top">
                        {{ .Content }}
                        <p><strong>تنزيل الحلقة: <a
                                    href="{{ path.Join .Site.Params.audio_hosting_path .Params.audio_file }}.mp3"
                                    onclick="javascript: pageTracker._trackPageview('/downloads/MP3'); ">MP3</a> ,<a
                                    href="{{ path.Join .Site.Params.audio_hosting_path .Params.audio_file }}.zip"
                                    onclick="javascript: pageTracker._trackPageview('/downloads/zip'); ">ZIP</a>
                            </strong></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr style="width:100%;margin-right:10px">
    <div id="guests">
        {{ with .Params.guests }}
            {{ range $name := . }}
                {{ with $.Site.GetPage path.Join "guest/" . }}
                    {{ partial "guest-partial" .}}
                {{ end }}
            {{ end }}
        {{ end }}

    </div>
</div>