<div>
        <table class="layout" style="margin-top:10px">
            <tbody>
                
                <tr class="layout">
                    <td class="layout" style="margin:0;padding:0" valign="top">
                        <table class="layout" style="margin:0;padding:0" width="100%">
                            <tbody>
                                <tr class="layout">
                                    <td class="layout" style="padding-right:0">
                                        <h1>{{ .Params.Title }}</h1>
                                    </td>
                                </tr>
                                <tr class="layout">
                                    <td class="layout" style="padding-right:0">
                                        {{ .Content }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="layout" rowspan="2" valign="top">
                        <img src="/images/guests/{{ .Params.image }}" alt="{{ .Params.Title }}" valign="top">
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <hr style="width:100%;margin-right:10px">