<div id="header-wrap">
        <div id="header-content">
  
          <h1 id="logoEnglish"><a href="https://dotnetarabi.com/default.aspx">.net <span class="orange">Arabi</span></a>
          </h1>
          <h1 id="logo"><a href="https://dotnetarabi.com/default.aspx" title="">دوت نت <span
                class="orange">عربي</span></a></h1>
          <h2 id="sloganEnglish">Arabic talkshow about technology and Microsoft .net in specific<br> hosted by Emad
            Alashi<br>
          </h2>
          <h2 id="slogan">برنامج إذاعي عربي حول التكنولوجيا و خاصةالدوت نت (Microsoft.net) <br>يستضيفه عماد العشي<br>
          </h2>
  
  
  
          <!-- Menu Tabs -->
          <ul>
            <li><a href="/">الصفحة الرئيسية</a></li>
            <li><a href="/episode/">الأرشيف</a></li>
            <li><a href="/guest/">الضيوف</a></li>
            <li><a href="/about/">من نحن</a></li>
            <li><a href="/contactus/">اتصل بنا</a></li>
            <li><a href="/index.xml">المدونة</a></li>
          </ul>
  
        </div>
      </div>