<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  {{if eq .Site.Params.noindex true}}
  <meta name="robots" content="noindex">
  {{end}}
  <title>
    دوت نت عربي - {{ .Title }} 
  </title>
  <link rel="stylesheet" href="/css/EliteCircle.css" type="text/css" />
</head>
