{{ define "main" }}

<div>
        <table id="ContentPlaceHolder1_GridView1" style="color:#333333;width:100%;border-collapse:collapse;" border="1"
            rules="all" cellspacing="0" cellpadding="4">
            <tbody>
                <tr style="color:White;background-color:#990000;font-weight:bold;">
                    <th scope="col">رقم</th>
                    <th scope="col">العنوان</th>
                    <th scope="col">التفاصيل</th>
                    <th scope="col">التاريخ</th>
                    <th scope="col">المدة بالدقائق</th>
                </tr>
    
{{ $paginator := .Paginator 10 }}
{{ range $range_index, $element_value := $paginator.Pages }}
            <tr style="color:#333333;background-color:{{ if (mod $range_index 2) }}#white;{{ else }} #FFFBD6 {{ end }}" >
                <td><a href="/episode/{{.Params.Number}}/">{{ .Params.number }}</a></td>
                <td><a href="/episode/{{.Params.Number}}/">{{ .Title }}</a></td>
                <td>{{.Content }}</td>
                <td>{{ .Date.Format "2/1/2006" }}</td>
                <td>{{ .Params.audio_length }}</td>
            </tr>
{{ end }}
            <tr align="center" style="color:#333333;background-color:#FFCC66;">
                <td colspan="5">
                    <table>
                        <tbody>

            <!-- line -->
            

    {{ $pag := $.Paginator }}
    {{ $window := $.Site.Params.paginateWindow | default 1 }}
    {{ if gt $pag.TotalPages 1 }}
      {{ $total := $pag.TotalPages }}
      {{ $size := add 5 (add $window $window) }}
      {{ $cur := $pag.PageNumber }}
      {{ if gt $total $size }}
        {{ if lt $cur (sub $size (add $window 1)) }}
          {{ $.Scratch.Set "show" (seq 1 (sub $size 2)) }}
        {{ else if lt (sub $total $cur) (sub $size (add $window 2)) }}
          {{ $.Scratch.Set "show" (seq (add (sub $total $size) 3) $total) }}
        {{ else }}
          {{ $.Scratch.Set "show" (seq (sub $cur $window) (add $cur $window)) }}
        {{ end }}
        {{ $.Scratch.Add "show" 1 }}
        {{ $.Scratch.Add "show" $total }}
      {{ else }}
        {{ $.Scratch.Set "show" (seq 1 $total) }}
      {{ end }}
    
    {{- with $paginator.First -}}
      {{- $url := trim (string .URL) "/" | absURL -}}
      <td class="page-item">
          <a href="{{ $url }}" aria-label="First" class="page-link"><span aria-hidden="true">&laquo;&laquo;</span></a>
      </td>
    {{- end -}}
    <td class="{{ if not $paginator.HasPrev }}disabled {{ end }}page-item">
        <a href="{{ if $paginator.HasPrev }}{{ $paginator.Prev.URL }}{{ end }}" aria-label="Previous" class="page-link"><span aria-hidden="true">&laquo;</span></a>
    </td>
    
      {{ range $pag.Pagers }}
        {{ $cur := .PageNumber }}
        {{- $url := trim (string .URL) "/" | absURL -}}
        {{ if in ($.Scratch.Get "show") $cur }}
          <td class = "{{ if eq . $pag }}active{{ end }} page-item"><a href="{{ .URL }}" class="page-link hidden-md-down">{{ .PageNumber }}</a></td>
        {{ else if in (slice 2 (sub $total 1)) $cur }}
          <td class="disabled page-item"><a name="" class="page-link hidden-md-down">&hellip;</a></td>
        {{ end }}
      {{ end }}
      <td class="{{ if not $paginator.HasNext }}disabled {{ end }}page-item">
        <a href="{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}" aria-label="Next" class="page-link"><span aria-hidden="true">&raquo;</span></a>
    </td>
      {{- with $paginator.Last -}}
      {{- $url := trim (string .URL) "/" | absURL -}}
      <td class="page-item">
          <a href="{{ $url }}" aria-label="Last" class="page-link"><span aria-hidden="true">&raquo;&raquo;</span></a>
      </td>
    {{- end -}}
    {{ end }}

</tr>
</tbody>
</table>
</td>
</tr>
        </tbody>
    </table>
</div>

{{ end }}