<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">

{{ partial "head.html" . }}

<body>
  <div>
    <!-- header starts here -->
    {{ partial "header.html" . }}

    <!-- content-wrap starts here -->
    <div id="content-wrap">
      <div id="content">

        <div id="sidebar">

          <h1>ما هو <span style="color:orange">"دوت نت عربي"</span>، و لماذا؟</h1>
          <p><span style="color:orange">دوت نت عربي</span> هو برنامج إذاعي عربي يتكلم عن التكنولوجيا بشكل عام، و عن
            تكنولوجيا الدوت نت <span dir="ltr">Microsoft .net</span> بشكل خاص.</p>
          <!--<p>السبب الرئيسي وراء <span style="color:orange">دوت نت عربي</span> هو أن اللغة تمثل حاجزاً معتبراً أمام المبرمجين و التكنولوجين العرب؛ وهذا البرنامج عبارة عن محاولة لاجتياز هذا الحاجز و توفير مصدر معلومات غني و باللغة العربية.</p>-->
          <p>السبب الرئيسي وراء إنشاء <span style="color:orange">دوت نت عربي</span>
            هو ضرورة إيجاد مصدر للمعلومات التقنية باللغة العربية، يساهم في تطوير
            مهارات التقنيين العرب، من خلال توفير الأداة الأهم للتعلم و هي اللغة.</p>
          <h1><a href="https://feeds2.feedburner.com/Dotnetarabi"><img src="/images/feed-icon-28x28.png" alt="feed"
                style="border-style: 0; border-width: 0px;" border="0" align="bottom">اشترك بالمدونة (RSS)</a></h1><a
            href="https://twitter.com/dotnetarabi"><img title="dotnetarabi" src="/images/twitterbutton-0201.gif"
              modo="false" width="120" height="90"></a>
          <p></p>



        </div>
        <div id="main">
          {{ block "main" .}}
          
          {{ end }}

        </div>

        <!-- content-wrap ends here -->
      </div>
    </div>

    <!-- footer starts here -->
    <div id="footer-wrap">
      <div id="footer-content">



        <div>
          <p style="text-align:center">
            © copyright 2009 <strong>DotNetArabi</strong><br>
            Template Design by: <a href="http://www.styleshout.com/">styleshout</a> &nbsp; &nbsp;

          </p>

        </div>

        <br class="clear">

      </div>
    </div>
    <!-- footer ends here -->
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script src="Main_files/ga.js" type="text/javascript"></script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-7739491-2");
    pageTracker._trackPageview();
  </script>



</body>

</html>